//Fonts import {
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,600&display=swap");
@font-face {
    font-family: Bernard;
    src: url("../fonts/BERNHC.TTF");
}
//}

//Default bootstrap variable modify {
$primary: #c77c49;
$secondary: #efdfbb;
$danger: #6d1515;

$body-bg: #efdfbb;
$body-color: #000;

$body-secondary-bg: #c77c49;
$body-secondary-color: #1f1f1f;

$body-tertiary-bg: #c89979;
$body-tertiary-color: #2c2c2c;

$link-decoration: none;

$font-family-base: "Roboto Serif", serif;

$navbar-brand-font-size: 2.5rem;
$nav-link-font-size: 1.5rem;

$link-color: $body-color;
$link-shade-percentage: 40%;

$display-font-sizes: (
  1: 7rem,
  2: 6rem,
  3: 5rem,
  4: 4rem,
  5: 2rem,
  6: 1.625rem
);

@import "../node_modules/bootstrap/scss/bootstrap";
//}

//Mixin {
@mixin potrait_phones {@media (max-width: 575.98px){@content};}
@mixin landscape_phones {@media (max-width: 767.98px){@content};}
@mixin medium_devices {@media (max-width: 991.98px){@content};}
@mixin large_devices {@media (max-width: 1199.98px){@content};}
@mixin extra_large_devices {@media (max-width: 1399.98px){@content};}
//}

//Custom style {

$max-width: 96dvw;


ul li {
    list-style-type: none;
}

.grid-placeholder {
    display: none;

    @include medium_devices() {
        display: block;
    }
}

.box {
    .box-content[aria-expanded="false"] {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #2c2c2c;
    }
    .box-content[aria-expanded="true"] {
        display: block;
    }
}


//Header begin
header {
    background-color: $body-secondary-bg;
    // height: 20dvh;
    .inner {
        max-width: $max-width;
        height: 100%;
        padding: 0;

        nav {
            button[data-bs-target="#navbar-content"] {
                &[aria-expanded="false"] {
                    span[label="open"] {
                        display: initial;
                    }
                    span[label="close"] {
                        display: none;
                    }
                }
                &[aria-expanded="true"] {
                    span[label="close"] {
                        display: initial;
                    }
                    span[label="open"] {
                        display: none;
                    }
                }
            }
        }

        @include medium_devices() {
            &, nav {
                width: 100%;
                max-width: 100%;
                margin: 0;
            }
        }
    }
}

#logo {
    font-family: Bernard, sans-serif;

    a {
        * {
            margin: 0;
            padding: 0;
            line-height: 100%;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#navbar-content {
    #main-nav {
        ul {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            place-items: center;
            li {
                position: relative;

                a {
                    span[role="icon"] {
                        display: none;
                    }

                    &::after {
                        opacity: 0;
                        content: "";
                        display: block;
                        height: 0.5rem;
                        width: 100%;
                        background-color: $danger;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: opacity 0.3s ease;
                    }

                    &:hover {
                        color: #fff;

                        &::after {
                            opacity: 1;
                        }
                        
                    }
                }

                @include medium_devices() {
                    width: 100%;

                    a {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        padding-inline: calc(var(--bs-gutter-x) * 0.5);

                        span[role="icon"] {
                            display: inline;
                            padding-right: 0.5rem;
                        }
                        
                        &:hover {
                            &::before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-color: $body-tertiary-bg;
                                z-index: -1;
                            }

                            &::before, &::after {
                                width: 100dvw;
                            }
                        }
                    }
                }
            }

            @include medium_devices() {
                grid-template-columns: 1fr;
            }
        }
    }

    #lang_dropdown {

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: $nav-link-font-size;
        }
    }

    @include medium_devices() {
        &, #main-nav, #main-nav * {
            padding-inline: 0;
        }
    }
}
//Header end

//Main begin
#hero {
    background-image: url("../img/IMG_0773.JPG");
    background-size: cover;
    background-position: center;
    height: 100dvh;
    position: relative;
    isolation: isolate;

    ::after {
        content: "";
        background: linear-gradient(90deg, rgba(7,7,7,0.6) 0%, rgba(242,242,242,0) 50%, rgba(7,7,7,0.6) 100%);;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }


    #hero-title {
        text-align: center;
        text-transform: uppercase;
    }
}

#introduction {
    background: url("../img/Asset 1.png");
    background-size: cover;
    background-position: center;
    height: 100dvh;
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
        color: #fff;
    }

    ::after {
        content: "";
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .inner {
        max-width: $max-width;
    }
}
//Main end

//}